
.chat_box{
	position:fixed;
	right:0px;
	bottom:0px;
	width:160px;
  z-index: 100;
  display: none;
}
.chat_body{
	background:white;
	height:0px;
	padding:0px 0px;
  overflow:auto;
  overflow-x: hidden;
}

.chat_head,.msg_head{
	/*background:#f39c12;*/
  background: #FE9A2E;
	color:white;
	padding:10px;
	font-weight:bold;
	cursor:pointer;
	border-radius:5px 5px 0px 0px;
}

.msg_box{
	position:fixed;
	bottom:0px;
	width:150px;
	background:white;
	border-radius:5px 5px 0px 0px;
  z-index: 100;
  right:170px;
  display: none;
}

.msg_head{
	background:#3498db;
  /*background:#00BFFF;*/
}

.msg_body{
	background:white;
	height:0px;
	font-size:12px;
	padding:10px;
	overflow:auto;
	overflow-x: hidden;
}

.msg_wrap{
  height:0px;
}

.msg_input{
	width:100%;
	border: 1px solid white;
	border-top:1px solid #DDDDDD;
  bottom: 0px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.close{
	float:right;
	cursor:pointer;
}

.minimize{
  float:right;
  cursor:pointer;
  padding-right:5px;
  
}

.user{
	position:relative;
	padding:10px 30px;
}
.user:hover{
	background:#f8f8f8;
	cursor:pointer;
}
.user:before{  /* 綠燈 */
	content:'';
	position:absolute;
	background:#2ecc71;
	height:10px;
	width:10px;
	left:10px;
	top:15px;
	border-radius:6px;
}

/* 其他使用者 */
/*.msg_a{   
	position:relative;
	background:#FDE4CE;
	padding:10px;
	min-height:10px;
	margin-bottom:5px;
	margin-right:20px;
  margin-left:40px; 
	border-radius:5px;
}*/

/*.msg_a:before{
	background-image: url('http://graph.facebook.com/984618548258644/picture/?type=square');
  background-size:30px 30px;
  display:inline-block;
  content:"";
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: -50px;
  margin-top: -8px;
}*/

/*.msg_a:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent #FDE4CE transparent transparent;
  left:-20px;
  top:7px;
}*/

/**************  chat box ***************/
.chat-box {
  list-style: none;
  /*background: #e5e5e5;*/
  margin: 0;
  /*padding: 0 15px 8px 0;*/
  padding: 0 0px 0px 0;
  margin-left: -3px;
  /*height: 280px;*/
  overflow-y: auto;
}
.chat-box li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.fb-icon {
  width: 40px;
  position: relative;
}
.fb-icon img {
  display: block;
  width: 30px;
  background-color:#1469A6;
  margin-right: 17px;
  white-space: nowrap;
  float: none;
}
/*.me {
  justify-content: flex-end;
  align-items: flex-end;
}
.me .messages {
  order: 1;
  border-bottom-right-radius: 0;
}*/
.fb-icon {
  left: -5px;
}
.fb-icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 18px;
  right: 0;
  width: 0;
  height: 0;
  border: 16px solid #FDE4CE;
  /*border-left-color: transparent;
  border-bottom-color: transparent;*/
  border-color: transparent #FDE4CE transparent transparent;
}
.msg_other {
  background:#FDE4CE;
  padding: 10px;
  min-height: 15px;
  margin-left:-6px;
  /*margin-right: 30px;*/
  margin-bottom: 3px;
  border-radius: 5px; /*2*/
  word-wrap: break-word;
  max-width: 165px;
  position: relative;
}

/* 自己 */
.msg_me{
  background:#EEF2E7;
  padding:10px;
  min-height:15px;
  margin-top:3px;
  margin-bottom:5px;
  position:relative;
  margin-left:55px;
  border-radius:5px;
  word-wrap: break-word;
}
.msg_me:after{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 6px solid;
  border-color: transparent transparent transparent #EEF2E7;
  right:-12px;
  top:9px;
}

/*
.messages_me{
  background:#EEF2E7;
  padding: 10px;
  min-height: 15px;
  margin-left:auto;
  margin-right: 0px;
  margin-bottom: 5px;
  border-radius: 5px;
  word-wrap: break-word;
  max-width: 160px;
}
.messages_me:after{
  content:"";
  position:relative;  
  width:0px;
  height:0px;
  right:-141px;
  left: 0px;
  top:-10px;
  border: 14px solid #EEF2E7;
  border-right-color: transparent;
  border-top-color: transparent;
  /*border-color: transparent transparent transparent #EEF2E7;
}*/
